.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* nav */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin: 38px 180px;
}
nav button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    width: 228px;
    height: 58px;
    opacity: 0.8;
    /* text */
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}

/* Banner */
.banner{
    background-image: url(../assets/Hero-bg.png);
    max-width: 1920px;
    height: 652px;}

.intro{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    }
.banner-cont{
    display: flex;
    margin: 0 auto;
    width: 998px;
    height: 582px;
    /* Auto layout */
    flex-direction: column;
    align-items: center;
    padding: 26px 0 44px 0;
    }
.coder{
    /* Group */
    width: 240.28px;
    height: 240px;
    margin: 0 auto;
}
.banner-Desc{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-top: 20px;
    text-align: center;
}
.bnt-contact{
    /* Frame 2 */
    position: static;
    width: 238px;
    height: 66px;
    /* Auto layout */
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);

    /* Inside Auto Layout */
    margin: 32px 0px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

/* why-web-development */

.why-web-development{
    width: 1140px;
    height: 1295px;
    /* Auto layout */
    display: flex;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 97px 80px 97px;
    margin: 0 auto;
    margin-top: 74px;
    background: rgba(13, 19, 33, 0.03);

}

.why{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    width: 946px;
}
.why p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
    margin-bottom: 48px;

}

.code-to-cng{

    /* Frame 8 */
    position: static;
    width: 946px;
    height: 280px;
    /* Auto layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    /* Inside Auto Layout */
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0 auto;
}
.text h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 500px;
}
.text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    max-width: 500px;
    margin-top: 16px;
}
.text button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    margin: 32px 0px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;

}
.code-to-cng img{
    width: 274.17px;
    height: 240px;
}

/* My inspiration */

.inspiration{
    width: 1140px;
    height: 775px;
    /* Auto layout */
    display: flex;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 88px;


}
.insp h3{
    color: rgb(13, 19, 33);
    width: 852px;
    height: 39px;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.insp p{
    color: rgb(13, 19, 33);
    width: 852px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}

.vdo{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 1140px;
    height: 614px;
    padding: 32px 45px;

}

/* Targets */

.targets{
    max-width: 1140px;
    height: 460px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    border: 2px solid red;
    margin-top: 151px;
}
.target-head{
/* Frame 5 */
position: static;
width: 852px;
height: 113px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
}
.targets h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.targets p{
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;

    }

.t{
    width: 33%;
    max-height: 280px;
    border: 2px solid red;
    border-radius: 16px;
    padding: 40px;
    margin-top: 48px;
}
.t h4{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}
.t p{
    height: 122px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin: 8px 0px;

}
.t a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin-top: 24px;
}
.t1{
    
    background: rgba(255, 76, 30, 0.05);
    margin-right: 24px;
}
.t2{
    background: rgba(0, 76, 232, 0.05);
    margin-right: 24px;
}
.t3{
    background: rgba(255, 223, 0, 0.05);
}
.cards{
    display: flex;
    justify-self: start;
}

.targets div h3{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 900;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    width: 946px;
}

/* next targets */

.nxt-target{
    /* Frame 20 */
    position: static;
    width: 1140px;
    height: 866px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    
    margin: 0 auto;
    border: 2px solid red;
    margin : 111px 0px;

}

.nxt-t{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(17, 25, 42, 0.2);
    border-radius: 16px;
    width: 1140px;
    height: 130px;
    padding: 32px 45px;
    margin-top: 26px;
}
 .nxt h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
 }

/* support */

.support{
    width: 1140px;
    height: 294px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
    border: 2px solid red;
    border-radius: 16px;
    margin-top: 32px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)) , url(../assets/handshake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}
.support h4{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 64px;
}
.support p{
    color: rgb(255, 255, 255);
    opacity: 0.7;
    margin: 16px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
    }

.support button{
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    border: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.support input{
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;

    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    margin: 0px 16px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}




/* footer */

footer{
    /* Frame 21 */
    position: absolute;
    background: rgba(13, 19, 33, 0.03);
    max-width: 1440px;
    height: 100px;
    left: 0;
    top: 5145px;
    /* Auto layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px 32px 150px;
    
}

.footer-text{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-right: 630px;
}